.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #5b9bdb;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:center;
    margin-top: 0vh;
    font-size: 40px;
    color: white;
  }
  
  .App-title{
    height:2rem;
  }
  
  .App-content {
    background-color: #e8f3fd;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:center;
    font-size: 20px;
    padding-bottom: 10vh;
  }
  
  
  .App-bottom {
    border-top: 1px solid black;
    background-color: #e8f3fd;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:center;
    padding-top: 10vh;
    font-size: 18px;
    color: black;
  }
  
  .info{ 
    font-size: 13px; 
    font-weight: 400; 
    letter-spacing: -0.26px; 
    color: rgb(158, 158, 158);
    margin: 0px;
    padding-left: 2rem;
  }
  
  .list_day {
    display: flex;
    flex-wrap: wrap;
  }
  
  .list_day li {
    flex: 20% 0 0;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .list_day a {
    display: block;
    padding: 20px 0;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    background-color: dodgerblue;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  table td {
    width: 25%;
    height: 70px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 26px;
  }
  
  table td:first-child {
    width: 10%;
  }
  
  .off td {
    background: #eee;
    color: #ccc;
  }
  
  .btn_del {
    margin-left: 10px;
    color: #fff;
    background-color: firebrick;
  }